html, body, #root, .App {
    height: 100%;
    background: black;
}
.App {
    background: black;
}
.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: scroll;
    height: 100%;
}
.day {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    position: relative;
}
.day-container {
    width: 100%;
}
.day.day-today {
    background: -webkit-gradient(linear, left top, left bottom, from(#424242), color-stop(black), to(#424242));
    background: -o-linear-gradient(top, #424242, black, #424242);
    background: linear-gradient(180deg, #424242, black, #424242);
    padding: 5px 0;
}
.day-date {
    position: absolute;
    color: white;
    font-size: 0.6em;
    top: -14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.day-date div:first-child {
    min-width: 50px;
    text-align: right;
}
.day-date div:last-child {
    min-width: 50px;
    text-align: left;
}
.day-date-text {
    margin: 0 5px;
}
.day-level-left {
  height: 100%;
  margin-left: auto;
  border-radius: 50px 0px 0px 50px;
}
.day-level-right {
  height: 100%;
  border-radius: 0px 50px 50px 0px;
}
.left, .right {
    width: 50%;
    position: relative;
}
.right {
    margin-left: 1px;
}
.left {
    margin-right: 1px;
}

.today-container {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.today {
    -webkit-box-shadow: 1px 1px 10px -1px white;
            box-shadow: 1px 1px 10px -1px white;
    width: 100%;
    margin: 15px 20px 5px 20px;
    border-radius: 50px;
    color: lightblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header, .footer {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    color: white;
    height: 30px;
    z-index: 1;
}
.footer {
  bottom: 0;
  top: unset;
}
.header-spacer, .footer-spacer {
  height: 30px;
  width: 100%;
}
.header-hours, .footer-hours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
}
.header-hour, .footer-hour {
    width: 7.7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.6em;
}
.menu-button {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 3px 1px grey;
            box-shadow: 0px 0px 3px 1px grey;
    position: fixed;
    top: 45px;
    left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
}
.menu-button-icon {
    font-size: 2.5em;
    color: lightblue;
}
.beginning-component {
    color: white;
}
.beginning-component-left {
    width: 100px;
    margin-right: 5px;
    text-align: right;
}
.beginning-component-right {
    width: 100px;
    margin-left: 5px;
}

/* Sidemenu */
.sidemenu-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
}
.sidemenu-container {
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 10;
    left: -100%;
}
.sidemenu {
    width: 60%;
    height: 100%;
    background: black;
    z-index: 1;
    position: absolute;
    left: 0%;
    -webkit-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    transition: left 0.2s linear;
}
.overlay-open {
    left: 100%;
}
.sidemenu-open {
    left: 100%;
    -webkit-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    transition: left 0.2s linear;
}
.sidemenu-bottom-note {
    position: absolute;
    bottom: 0;
    margin: 0px 0px 5px 5px;
    color: lightblue;
    font-size: 0.8em;
    font-style: italic;
}
.sidemenu-field-container {
    padding: 10px 20px;
}
.sidemenu-field-container:first-child {
    margin-top: 20px;
}
.sidemenu-field-label {
    margin-bottom: 5px;
    color: #bdbdbd;
    font-size: 0.9em;
}
.sidemenu-input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
}
.sidemenu-input-container input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding: 7px;
}
.sidemenu-input-container button {
   border-radius: 0px 20px 20px 0px;
   border: none;
   background: -o-linear-gradient(240deg, #290000, #ad0000);
   background: linear-gradient(210deg, #290000, #ad0000);
   font-size: 0.7em;
   color: white;
}
.sidemenu-field-container .login-colors-container {
    margin-top: 0;
}
.sidemenu-field-container .login-color {
    margin: -2px 10px;
    width: 30px;
    height: 30px;
}
.sidemenu-field-container .login-color-inner {
    height: 18px;
    width: 18px;
}
.logout-button {
    width: 100%;
    border-radius: 50px;
    height: 20px;
    background: -o-linear-gradient(240deg, #290000, #ad0000);
    background: linear-gradient(210deg, #290000, #ad0000);
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 0.7em;
}
.sidemenu-field-container button {
    -webkit-box-shadow: 0px 1px 5px -1px pink;
            box-shadow: 0px 1px 5px -1px pink;
}
.sidemenu-message {
    color: #919191;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}
.unsync-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    font-size: 0.6em;
    background: -o-linear-gradient(240deg, #290000, #ff8721);
    background: linear-gradient(210deg, #290000, #ff8721);
    border: none;
    color: white;
    border-radius: 20px;
}

/* Login Section */
.login-container {
    height: 100%;
    width: 100%;
    color: white;
}
.app-title {
    padding-top: 30px;
    color: pink;
    text-align: center;
    font-size: 1.2em;
    width: 70%;
    margin: auto;
    border-radius: 0px;
}
.app-title-underline {
    -webkit-box-shadow: 0px -11px 14px -10px pink;
            box-shadow: 0px -11px 14px -10px pink;
    border-radius: 50%;
    height: 35px;
    width: 180px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.app-title img {
    width: 65px;
    -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
            transform: translateY(15px);
}
.login-field {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 0 12px;
    border-radius: 20px;
    border: none;
    width: 220px;
    text-align: center;
    background: none;
    -webkit-box-shadow: 0px 0px 12px -1px inset pink;
            box-shadow: 0px 0px 12px -1px inset pink;
    color: white;
    height: 40px;
}
.login-field:focus {
    background: pink;
}
.login-buttons {
    position: absolute;
    bottom: 0;
    margin: auto;
    margin-top: 50px;
    width: 100%;
}
.login-buttons button {
    width: 50%;
    height: 40px;
    background: no-repeat;
    border: none;
    color: grey;
}
button.login-button-left {
    color: pink;
    -webkit-box-shadow: 50px 0px 50px -40px inset pink;
            box-shadow: 50px 0px 50px -40px inset pink;
}
button.login-button-right {
    color: pink;
    -webkit-box-shadow: -50px 0px 50px -40px inset pink;
            box-shadow: -50px 0px 50px -40px inset pink;
}
.login-submit-container {
    text-align: center;
    margin-top: 70px;
}
.login-submit-container button {
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 0px;
    background: none;
    -webkit-animation-name: glow;
            animation-name: glow;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    color: rgba(173, 216, 230, 0.5);
    font-size: 0.6em;
    margin: 0px 10px;
}
.login-submit-button.plus, .login-submit-button.back{
    font-size: 1.2em;
}
@-webkit-keyframes glow {
    0% {-webkit-box-shadow: 8px -2px 10px -5px inset lightblue;box-shadow: 8px -2px 10px -5px inset lightblue;}
    50% {-webkit-box-shadow: 8px -2px 8px 3px inset lightblue;box-shadow: 8px -2px 8px 3px inset lightblue;}
    100% {-webkit-box-shadow: 8px -2px 10px -5px inset lightblue;box-shadow: 8px -2px 10px -5px inset lightblue;}
}
@keyframes glow {
    0% {-webkit-box-shadow: 8px -2px 10px -5px inset lightblue;box-shadow: 8px -2px 10px -5px inset lightblue;}
    50% {-webkit-box-shadow: 8px -2px 8px 3px inset lightblue;box-shadow: 8px -2px 8px 3px inset lightblue;}
    100% {-webkit-box-shadow: 8px -2px 10px -5px inset lightblue;box-shadow: 8px -2px 10px -5px inset lightblue;}
}
.login-submit-container button:focus {
    border: 1px solid lightblue;
}
input:focus, button:focus {
    outline: none;
}
.login-partner-message {
    text-align: center;
    color: lightblue;
}
.login-message-container {
    margin-top: 60px;
    text-align: center;
    color: #c70000;
    font-weight: bold;
    font-size: 0.8em;
}
.login-colors-container {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.login-color {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.login-color-inner {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.login-color-inner.color-one {
    background: lightblue;
}
.login-color-inner.color-two {
    background: pink;
}
