.App {
    background: black;
    height: 100vh;
}
.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: scroll;
    height: 100%;
}
.day {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
.day-container {
    width: 100%;
}
.day.day-today {
    background: linear-gradient(180deg, #424242, black, #424242);
    padding: 5px 0;
}
.day-date {
    position: absolute;
    color: white;
    font-size: 0.6em;
    top: -14px;
    display: flex;
}
.day-date-text {
    margin: 0 5px;
}
.day-level-left {
  height: 100%;
  margin-left: auto;
  border-radius: 50px 0px 0px 50px;
}
.day-level-right {
  height: 100%;
  border-radius: 0px 50px 50px 0px;
}
.left, .right {
    width: 50%;
    position: relative;
}
.right {
    margin-left: 1px;
}
.left {
    margin-right: 1px;
}

.today-container {
    width: 100%;
    height: 70px;
    display: flex;
}

.today {
    box-shadow: 1px 1px 10px -1px white;
    width: 100%;
    margin: 15px 20px 5px 20px;
    border-radius: 50px;
    color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header, .footer {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    color: white;
    height: 30px;
    z-index: 1;
}
.footer {
  bottom: 0;
  top: unset;
}
.header-spacer, .footer-spacer {
  height: 30px;
  width: 100%;
}
.header-hours, .footer-hours {
    display: flex;
    width: 100%;
    height: 100%;
}
.header-hour, .footer-hour {
    width: 7.7%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
}
.menu-button {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 3px 1px grey;
    position: fixed;
    top: 45px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.menu-button-icon {
    font-size: 2.5em;
    color: lightblue;
    transform: translateY(-6px);
}
.beginning-component {
    color: white;
}
.beginning-component-left {
    width: 100px;
    margin-right: 5px;
    text-align: right;
}
.beginning-component-right {
    width: 100px;
    margin-left: 5px;
}
